streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
openai-whisper
torch
torchaudio
pydub
ffmpeg-python
python-dotenv
youtube-transcript-api
yt-dlp
pymupdf
fpdf2